nav {
	display: block;
	font-family: Georgia;
	font-size: 1.24em;
	font-weight: bold;
	text-align: center;
	margin-top: .8em;
}
	nav ul {
		padding: 0;
		margin-top: .5em;
		margin-bottom: 2em;
	}
	nav li:hover { 
	color: #CCFFCC;
}
nav li {
	display: inline;
	float: left;
	margin-left: 7%;
	margin-right: 7%;
	border-top: solid #000000;
	border-bottom: solid #000000;
	border-left: solid #000000;
	border-right: solid #000000;
}
nav li a {
	text-decoration: none;
}
details:hover{
	color:#86069C;
}
body {
	display: block;
	background-color: #A9A1F1;
	text-align:center;
	font-family: Georgia;
	font-size: 1em;
	color: #06062F
}

header {
	text-align: center;
	font-family: Georgia;
	font-size: 1.87em;
	font-weight: bold;
}
h1 {
	text-align: center;
	font-family: Georgia;
	font-size: 1.87em;
	font-weight: bold;
}
main { 
	font-size: 2em;
}
h2{
	text-align: center;
	font-family: Georgia;
	font-size: 1em;
	font-weight: bold;
}
	
body ul{
	list-style-type: none;
}
	
img {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2em;
	margin-bottom: 2em;
	}

footer {
	text-align:center;
}
table {
	border: 0.3em solid #000000;
		border-collapse: collapse;
		margin-left: auto;
		margin-right:auto;
		width: 20%;
		text-align: center;
}
